@model IEnumerable<CapstoneJesseGajda.Models.WorkoutList>

@{
    ViewData["Title"] = "Select Workout";
}

    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <h1>Workout Plan</h1>
                <p id="selectionText">I plan on working out:</p>
                <a class="selectionBtn" asp-action="WorkoutTwoDays">2 times a week</a>
                <br />
                <a class="selectionBtn" asp-action="WorkoutThreeDays">3 times a week</a>
                <br />
                <a class="selectionBtn" asp-action="WorkoutFourDays">4 times a week</a>
                <br />
                <a class="selectionBtn" asp-action="WorkoutFiveDays">5 times a week</a>
                <br />
                <a class="selectionBtn" asp-action="WorkoutSixDays">6 times a week</a>
                <br />
                <a class="selectionBtn" asp-action="Index">Custom Workout Plans</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="~/css/WorkoutList.css" />
