@{
    ViewData["Title"] = "Four Days A Week";
}

    <section class="main-container-workoutlist">
        <article class="workoutFour-intro">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Upper Power</h1>
                            <ul>
                                <li><b>Bench Press:</b> 3 sets x 6-8 reps</li>
                                <li><b>Incline Dumbbell Bench Press:</b> 3 sets x 6-10 reps</li>
                                <li><b>Bent Over Row:</b> 4 sets x 5-8 reps</li>
                                <li><b>Lat Pull Down:</b> 3 sets x 6-10 reps</li>
                                <li><b>Overhead Press:</b> 3 sets x 5-8 reps</li>
                                <li><b>Barbell Curl:</b> 3 sets x 6-10 reps</li>
                                <li><b>Skullcrusher:</b> 3 sets x 6-10 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </article>



        <article class="workoutFour-middleUpper">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Lower Power</h1>
                            <ul>
                                <li><b>Squat:</b> 4 sets x 5-8 reps</li>
                                <li><b>Deadlift:</b> 4 sets x 4-6 reps</li>
                                <li><b>Leg Press:</b> 5 sets x 10-15 reps</li>
                                <li><b>Leg Curl:</b> 4 sets x 6-10 reps</li>
                                <li><b>Seated Calf Raises:</b> 4 sets x 6-10 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </article>

        <article class="workoutFour-middleLower">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Upper Hypertrophy</h1>
                            <ul>
                                <li><b>Incline Barbell Bench Press:</b> 3 sets x 8-12 reps</li>
                                <li><b>Flat Bench Dumbbell Fly:</b> 3 sets x 8-12 reps</li>
                                <li><b>Seated Cable Row:</b> 3 sets x 8-12 reps</li>
                                <li><b>One Arm Dumbbell Row:</b> 3 sets x 8-12 reps</li>
                                <li><b>Dumbbell Lateral Raise:</b> 3 sets x 8-12 reps</li>
                                <li><b>Seated Incline Dumbbell Curl:</b> 3 sets x 30-60 seconds</li>
                                <li><b>Cable Tricep Extension:</b> 3 sets x 15-20 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>

        <article class="workoutFour-end">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Lower Hypertrophy</h1>
                            <ul>
                                <li><b>Front Squat:</b> 3 sets x 8-12 reps</li>
                                <li><b>Barbell Lunge:</b> 3 sets x 8-12 reps</li>
                                <li><b>Leg Extension:</b> 3 sets x 10-15 reps</li>
                                <li><b>Leg Curl:</b> 3 sets x 10-15 reps</li>
                                <li><b>Seated Calf Raises:</b> 3 sets x 8-12 reps</li>
                                <li><b>Calf Press:</b> 3 sets x 8-12 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>



    </section>
