
@{
    ViewData["Title"] = "Three Days A Week";
}

    <section class="main-container-workoutlist">
        <article class="workoutThree-intro">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Chest Shoulders & Triceps</h1>
                            <ul>
                                <li><b>Bench Press:</b> 3 sets x 6-8 reps</li>
                                <li><b>Incline Dumbbell Bench Press:</b> 3 sets x 8-12 reps</li>
                                <li><b>Cable Crossovers:</b> 3 sets x 8-12 reps</li>
                                <li><b>Standing Overhead Press:</b> 3 sets x 8-12 reps</li>
                                <li><b>Lateral Raises:</b> 3 sets x 10-15 reps</li>
                                <li><b>Skullcrushers:</b> 3 sets x 8-12 reps</li>
                                <li><b>Triceps Rope Pushdowns:</b> 3 sets x 8-12 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </article>



        <article class="workoutThree-middle">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Back and Biceps</h1>
                            <ul>
                                <li><b>Seated Cable Row:</b> 3 sets x 8-12 reps</li>
                                <li><b>Lat Pulldown:</b> 3 sets x 8-12 reps</li>
                                <li><b>Bent-Over Fly Dumbbell:</b> 3 sets x 8-12 reps</li>
                                <li><b>Back Hyperextension:</b> 3 sets x 8-12 reps</li>
                                <li><b>Bicep Barbell Curls:</b> 3 sets x 10-15 reps</li>
                                <li><b>Skullcrushers:</b> 3 sets x 8-12 reps</li>
                                <li><b>Hammer Curls:</b> 3 sets x 8-12 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </article>

        <article class="workoutThree-end">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Legs & Core</h1>
                            <ul>
                                <li><b>Squat Barbell:</b> 3 sets x 8-12 reps</li>
                                <li><b>Leg Press:</b> 3 sets x 8-12 reps</li>
                                <li><b>Leg Extension:</b> 3 sets x 8-12 reps</li>
                                <li><b>Leg Curl:</b> 3 sets x 8-12 reps</li>
                                <li><b>Standing Calf Raises:</b> 3 sets x 8-12 reps</li>
                                <li><b>Plank:</b> 3 sets x 30-60 seconds</li>
                                <li><b>Crunch:</b> 3 sets x 15-20 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>



    </section>