
@{
    ViewData["Title"] = "Two Days A Week";
}


    <section class="main-container-workoutlist">
        <article class="workoutTwo-intro">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Full Body - Day 1</h1>
                            <ul>
                                <li><b>Squats:</b> 3 sets x 6-8 reps</li>
                                <li><b>Bench Press:</b> 3 sets x 6-8 reps</li>
                                <li><b>Seated Cable Rows:</b> 3 sets x 8-10 reps</li>
                                <li><b>Dumbbell Shoulder Press:</b> 3 sets x 8-10 reps</li>
                                <li><b>Lat Pull-Downs:</b> 3 sets x 8-10 reps</li>
                                <li><b>Triceps Pushdowns:</b> 3 sets x 10-15 reps</li>
                                <li><b>Bicep Curls:</b> 3 sets x 10-15 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>



        <article class="workoutTwo-middle">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>Full Body - Day 2</h1>
                            <ul>
                                <li><b>Romanian Deadlift:</b> 3 sets x 6-8 reps</li>
                                <li><b>Lat Pull-Downs:</b> 3 sets x 6-8 reps</li>
                                <li><b>Incline Dumbbell Press:</b> 3 sets x 8-10 reps</li>
                                <li><b>Chest Supported Rows:</b> 3 sets x 8-10 reps</li>
                                <li><b>Leg Press:</b> 3 sets x 10-12 reps</li>
                                <li><b>Lateral Raises:</b> 3 sets x 10-15 reps</li>
                                <li><b>Face Pulls:</b> 3 sets x 10-15 reps</li>
                                <li><b>Standing Calf Raises:</b> 4 sets x 6-10 reps</li>
                            </ul>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>



    </section>
