@{
    ViewData["Title"] = "About";
}

    <section class="main-container">
        <article class="index-intro">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1>Do Something TODAY that YOUR future self WILL thank you for</h1>
                        </div>
                        <div class="col-sm-4"></div>

                    </div>
                </div>
            </div>
        </article>

        <article class="index-middle">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h1>JG FITNESS.. WE CARE!</h1>
                            <br />
                            <br />
                            <p>
                                Our community is open and caring to every shape and size. We are all
                                here for one reason - to better ourselves. JGFitness is a safeplace
                                for beginners to learn and experts to help. We have a place for everyone
                                and you belong everywhere!
                            </p>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>
            </div>
        </article>

        <article class="index-gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/barbell-1839086_640.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/adult-1850925_640.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/bodybuilder-925770_1280.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/training-828726_640.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/girl-4051811_640.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/street-workout-2628919_640.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/training-828741_640.jpg" />
                    </div>
                    <div class="col-sm-3 center">
                        <img class="img-responsive img-thumbnail" src="~/images/fitness-3502830_640.jpg" />
                    </div>
                </div>

            </div>
        </article>

    </section>





<link rel="stylesheet" type="text/css" href="~/css/AboutPage.css" />
