body {
}
.selectionBtn {
    background-color: #1569C7;
    border-radius: 16px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 25px;
    text-decoration: none;
    width:50%;
    text-align:center;
    margin-top:7px;
}
#selectionText{
    margin-left: 45px;
}
#userIdIndex{
    opacity:0;
}
#createUserIdWorkout{
    opacity:0;
}
#hideWorkoutUser{
    opacity: 0;
}

